

.header {
    margin-top: 30px;
}

 .header a  {
    background-color: darkturquoise;
    text-decoration: none;
    margin: 10px;
    font-size: 22px;
    color: gold;
    padding: 7px;
    border-radius: 10px;
 }


 .header a:hover {
    color: rgb(152, 32, 32);
 }
