

.header {
    margin-top: 30px;
}

 .header a  {
    background-color: darkturquoise;
    text-decoration: none;
    margin: 10px;
    font-size: 22px;
    color: gold;
    padding: 7px;
    border-radius: 10px;
 }

 .header a:hover {
    color: rgb(152, 32, 32);
 }

 .friend {
   border: 2px solid rgb(251, 53, 42);
   margin: 10px;
   border-radius: 14px;
   padding: 10px;
 }
 .header .linkActive {
   background: rgb(70, 55, 55);
   
 }